In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("dataset.csv")

In [3]:
df.head(5)

   watched  want  register_date  isfake
0      680    96     1491519600       0
1       30     0     1495580400       0
2      201    58     1410822000       0
3      650    45     1487376000       0
4       30     0     1494889200       0

In [4]:
#最大最小化
scaler = MinMaxScaler()
df[['watched', 'want','register_date']] = scaler.fit_transform(df[['watched', 'want','register_date']])
df.head()

    watched      want  register_date  isfake
0  0.207138  0.070330       0.981308       0
1  0.008847  0.000000       0.993180       0
2  0.061013  0.042491       0.745390       0
3  0.197987  0.032967       0.969195       0
4  0.008847  0.000000       0.991159       0

In [5]:
x = np.array(df[['watched', 'want','register_date']])
y = np.array(df["isfake"])
print(len(x),len(y))
y

200 200

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 2, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=42)

In [239]:
from sklearn import svm
clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)
clf.score(X_test, y_test)

0.96250000000000002

In [7]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.90000000000000002

In [8]:
df_new = pd.read_csv("hand.csv")

In [9]:
df_new.head(10)

,Index,rate,person_page,watched,want,register_date,isfake
0,589,5.0,https://www.douban.com/people/162795212,2,0.0,1.498000e+09,NaN
1,695,5.0,https://www.douban.com/people/162765908,1,1.0,1.497913e+09,NaN
2,1009,2.0,https://www.douban.com/people/162762142,2,0.0,1.497913e+09,NaN
3,1579,1.0,https://www.douban.com/people/162776372,3,0.0,1.497913e+09,NaN
4,1725,5.0,https://www.douban.com/people/162778933,1,0.0,1.497913e+09,NaN
5,1047,3.0,https://www.douban.com/people/162753337,8,0.0,1.497913e+09,NaN
6,571,1.0,https://www.douban.com/people/162738674,2,6.0,1.497827e+09,NaN
7,1210,1.0,https://www.douban.com/people/162745008,1,0.0,1.497827e+09,NaN
8,1283,1.0,https://www.douban.com/people/162730144,5,0.0,1.497827e+09,NaN
9,74,3.0,https://www.douban.com/people/162741035,3,4.0,1.497827e+09,NaN

In [10]:
df_new[['watched', 'want','register_date']] = scaler.fit_transform(df_new[['watched', 'want','register_date']])
df_new.head(10)

,Index,rate,person_page,watched,want,register_date,isfake
0,589,5.0,https://www.douban.com/people/162795212,0.000101,0.000000,1.000000,NaN
1,695,5.0,https://www.douban.com/people/162765908,0.000000,0.000138,0.999770,NaN
2,1009,2.0,https://www.douban.com/people/162762142,0.000101,0.000000,0.999770,NaN
3,1579,1.0,https://www.douban.com/people/162776372,0.000203,0.000000,0.999770,NaN
4,1725,5.0,https://www.douban.com/people/162778933,0.000000,0.000000,0.999770,NaN
5,1047,3.0,https://www.douban.com/people/162753337,0.000710,0.000000,0.999770,NaN
6,571,1.0,https://www.douban.com/people/162738674,0.000101,0.000830,0.999539,NaN
7,1210,1.0,https://www.douban.com/people/162745008,0.000000,0.000000,0.999539,NaN
8,1283,1.0,https://www.douban.com/people/162730144,0.000406,0.000000,0.999539,NaN
9,74,3.0,https://www.douban.com/people/162741035,0.000203,0.000553,0.999539,NaN

In [11]:
x_final = np.array(df_new[['watched', 'want','register_date']])
print(len(x_final))

1765

In [12]:
isfake = clf.predict(x_final)

In [13]:
isfake

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [14]:
df_new["isfake"] = isfake

In [15]:
df_new.head(10)

,Index,rate,person_page,watched,want,register_date,isfake
0,589,5.0,https://www.douban.com/people/162795212,0.000101,0.000000,1.000000,1
1,695,5.0,https://www.douban.com/people/162765908,0.000000,0.000138,0.999770,1
2,1009,2.0,https://www.douban.com/people/162762142,0.000101,0.000000,0.999770,1
3,1579,1.0,https://www.douban.com/people/162776372,0.000203,0.000000,0.999770,1
4,1725,5.0,https://www.douban.com/people/162778933,0.000000,0.000000,0.999770,1
5,1047,3.0,https://www.douban.com/people/162753337,0.000710,0.000000,0.999770,1
6,571,1.0,https://www.douban.com/people/162738674,0.000101,0.000830,0.999539,1
7,1210,1.0,https://www.douban.com/people/162745008,0.000000,0.000000,0.999539,1
8,1283,1.0,https://www.douban.com/people/162730144,0.000406,0.000000,0.999539,1
9,74,3.0,https://www.douban.com/people/162741035,0.000203,0.000553,0.999539,1

In [16]:
df_new.to_csv("final_result1.csv")