In [222]:
import pandas as pd
import re
data = pd.read_csv("data.csv",index_col = 0)
data = data.drop_duplicates().reset_index()
del data["index"]
data.head()

,age,blood,car,constellation,education,ethnic,height,house,id,js_age,...,js_marriaged,js_member,js_photo,location,marriaged,membership,nickname,salary,shengxiao,weight
0,38岁,A型,暂未购车,射手座,高中中专及以下,汉族,162cm,住单位房,105136729,39-50岁之间,...,离异、丧偶,不限,有照片,丽水,"离异,有小孩归自己",普通会员,怡然,2000～5000元,马,52公斤
1,55岁,--,暂未购车,白羊座,大专,汉族,158cm,已购房（无贷款）,144702453,55-63岁之间,...,离异、丧偶,星级会员 *,有照片,丽水,"丧偶,有小孩归自己",高级会员,子妍,2000～5000元,虎,53公斤
2,33岁,O型,暂未购车,巨蟹座,本科,汉族,160cm,暂未购房,157876837,31-37岁之间,...,不限,星级会员,有照片,丽水,"离异,有小孩归对方",普通会员,借一下@幸福@,2000～5000元,鼠,--
3,41岁,B型,--,金牛座,本科,汉族,170cm,与父母同住,89478709,40-55岁之间,...,未婚,不限,不限,丽水,未婚,普通会员,星空,2000～5000元,龙,--
4,53岁,O型,已购车（经济型）,双子座,本科,汉族,158cm,已购房（有贷款）,141681049,55-62岁之间 *,...,离异、丧偶 *,星级会员 *,有照片,丽水,"离异,有小孩归对方",高级会员,桂花树,5000～10000元,龙,65公斤

In [250]:
data.columns

Index(['age', 'blood', 'car', 'constellation', 'education', 'ethnic', 'height',
       'house', 'id', 'js_age', 'js_education', 'js_ethnic', 'js_height',
       'js_location', 'js_marriaged', 'js_member', 'js_photo', 'location',
       'marriaged', 'membership', 'nickname', 'salary', 'shengxiao', 'weight'],
      dtype='object')

In [223]:
def clean_age(age):   #清洗年龄
    if "岁" in age:
        return int(age[:-1])
    else:
        return None
data["age"] = data["age"].apply(clean_age)

In [224]:
data = data.drop(data.index[[32739,8347]])
len(data)

35030

In [225]:
a = data["age"].value_counts()
#a.to_frame().to_csv("age.csv")

In [226]:
b = data["education"].value_counts()
#b.to_frame().to_csv("education.csv",encoding='utf-8')

In [227]:
def clean_height(height):
    if "cm" in height:
        return int(height[:-2])
    else:
        return None
data["height"] = data["height"].apply(clean_height)

In [228]:
c = data["height"].value_counts()
#c.to_frame().to_csv("height.csv",encoding='utf-8')

In [229]:
data["marriaged"].value_counts()

未婚              21868
离异,有小孩归自己        3903
离异               3595
离异,有小孩归对方        3355
离异,无小孩           1481
丧偶,有小孩归自己         504
丧偶                253
丧偶,无小孩             47
丧偶,有小孩归对方          16
未填                  7
未婚、离异,有小孩归自己        1
Name: marriaged, dtype: int64

In [230]:
data["house"].value_counts()

--          12237
暂未购房         6388
与父母同住        4427
已购住房         3412
独自租房         2211
已购房（无贷款）     1936
已购房（有贷款）     1698
与人合租          892
住单位房          872
需要时购置         804
住亲朋家          153
Name: house, dtype: int64

In [231]:
data["constellation"].value_counts()

天秤座    3606
魔羯座    3462
双子座    3356
天蝎座    3230
处女座    3016
狮子座    2925
射手座    2920
双鱼座    2739
巨蟹座    2587
水瓶座    2555
金牛座    2386
白羊座    2232
--       16
Name: constellation, dtype: int64

In [232]:
data["shengxiao"].value_counts()

马     3442
龙     3325
鸡     3180
狗     3143
猴     3051
羊     3033
兔     3029
蛇     2975
猪     2631
虎     2585
鼠     2327
牛     2303
--       6
Name: shengxiao, dtype: int64

In [233]:
len(data["js_age"])

35030

In [234]:
def clean_js_age(age):
    try:
        if "不限" not in age:
            pattern = re.compile('(\d+)-(\d+)岁',re.S)
            result = pattern.search(age)
            if result is not None:
                return (float(result.group(1)) + float(result.group(2)))/2
            else:
                pattern = re.compile('(\d+)岁',re.S)
                result = pattern.search(age)
                return float(result.group(1))
        else:
            return None
    except:
        pass

In [235]:
data["js_age"] = data["js_age"].apply(clean_js_age)

In [236]:
list1 = data['js_age'].groupby(data['age']).mean()

In [210]:
list1.to_frame()
list1.to_csv("1.csv",encoding="utf-8")

In [238]:
def clean_js_height(height):
    try:
        if "不限" not in height:
            pattern = re.compile('(\d+)-(\d+)厘米',re.S)
            result = pattern.search(height)
            if result is not None:
                return (float(result.group(1)) + float(result.group(2)))/2
            else:
                pattern = re.compile('(\d+)厘米',re.S)
                result = pattern.search(height)
                return float(result.group(1))
        else:
            return None
    except:
        pass

In [239]:
data["js_height"] = data["js_height"].apply(clean_js_height)

In [240]:
data["js_height"].value_counts()

178.5    4634
175.0    4091
177.5    3446
172.5    2569
180.0    2212
176.5    1547
174.0    1280
179.0    1210
176.0    1083
175.5     847
177.0     835
170.0     821
182.5     791
178.0     774
173.0     694
179.5     653
180.5     634
181.5     623
174.5     550
171.5     503
181.0     443
185.0     434
173.5     405
170.5     299
172.0     291
183.0     256
184.0     254
182.0     241
171.0     208
167.5     189
         ...
200.0       2
212.5       2
216.0       2
158.0       2
192.0       2
159.5       2
155.0       2
191.0       2
199.0       2
159.0       2
225.0       1
152.0       1
226.0       1
154.0       1
196.0       1
203.0       1
193.0       1
213.5       1
131.0       1
155.5       1
154.5       1
214.5       1
197.5       1
211.5       1
143.0       1
157.0       1
148.0       1
198.5       1
204.0       1
142.0       1
Name: js_height, Length: 105, dtype: int64

In [242]:
list2 = data['js_height'].groupby(data['height']).mean()
list2.to_csv("2.csv",encoding="utf-8")

In [249]:
data['js_height'].describe()

count    34563.000000
mean       176.520557
std          5.198413
min        130.000000
25%        174.500000
50%        177.500000
75%        178.500000
max        226.000000
Name: js_height, dtype: float64

In [252]:
data["js_marriaged"].value_counts()

不限         16737
未婚         12782
离异、丧偶       2203
未婚、离异       1539
离异          1005
未婚 *         304
丧偶           135
离异、丧偶 *      109
未婚、丧偶         94
离异 *          73
未婚、离异 *       39
丧偶 *           6
未婚、丧偶 *        3
Name: js_marriaged, dtype: int64

In [261]:
def clean_js_marriaged(status):
    try:
        return status.replace(" ","").replace("\xa0*","")
    except:
        pass

In [262]:
data["js_marriaged"] = data["js_marriaged"].apply(clean_js_marriaged)

In [263]:
data['js_marriaged'].groupby(data['marriaged']).value_counts()

marriaged     js_marriaged
丧偶            不限                174
              离异、丧偶              30
              未婚                 22
              丧偶                 19
              未婚、丧偶               6
              离异                  2
丧偶,无小孩        不限                 30
              离异、丧偶               7
              未婚                  5
              丧偶                  4
              离异                  1
丧偶,有小孩归对方     不限                 10
              离异、丧偶               3
              丧偶                  1
              未婚                  1
              未婚、离异               1
丧偶,有小孩归自己     不限                294
              离异、丧偶             135
              丧偶                 48
              未婚、丧偶              13
              未婚                  7
              离异                  4
              未婚、离异               3
未填            不限                  5
              未婚                  2
未婚            未婚              12517
              不限               8368
              未婚、离异             822
              离异                 74
              未婚、丧偶              43
              离异、丧偶              43
未婚、离异,有小孩归自己  未婚                  1
离异            不限               2597
              离异、丧偶             355
              未婚                295
              离异                200
              未婚、离异             122
              丧偶                 18
              未婚、丧偶               8
离异,无小孩        不限                942
              未婚、离异             192
              离异、丧偶             136
              离异                116
              未婚                 82
              丧偶                  9
              未婚、丧偶               4
离异,有小孩归对方     不限               2008
              离异、丧偶             676
              离异                343
              未婚、离异             238
              未婚                 72
              丧偶                 11
              未婚、丧偶               7
离异,有小孩归自己     不限               2309
              离异、丧偶             927
              离异                338
              未婚、离异             200
              未婚                 82
              丧偶                 31
              未婚、丧偶              16
Name: js_marriaged, dtype: int64

In [273]:
def check_location(row):
    try:
        if row["location"] in row["js_location"]:
            return 1
        else:
            if "不限" in row["js_location"]:
                return -1
            else:
                return 0
    except:
        pass

a = data.apply(check_location,axis=1)

In [274]:
a.value_counts()

 1.0    21051
 0.0     9863
-1.0     4115
dtype: int64

In [275]:
data["js_salary"]

KeyError: 'js_salary'