In [77]:
##清洗url变成ID
sx = pd.read_csv("shaoxin.csv",index_col=0)
del sx["age"]

sx = sx.reset_index(drop=True)

def get_id(a):
    s = a.find(".com/")
    return a[s+5:s+14]

sx.columns=["del","url"]
del sx["del"]
sx["id"] = sx["url"].apply(get_id)
del sx["url"]

sx.to_csv("sxlist.csv",encoding='utf-8')

In [82]:
##################开始正式清洗
import pandas as pd
import re
data = pd.read_excel("data.xlsx",index_col = 0)
data = data.drop_duplicates().reset_index()
del data["index"]

In [83]:
data.describe()

                 id
count  6.346600e+04
mean   1.191885e+08
std    5.380365e+07
min    1.000062e+06
25%    7.487876e+07
50%    1.451353e+08
75%    1.665476e+08
max    1.697195e+08

In [81]:
#data.columns

In [84]:
def clean_age(age):   #清洗年龄
    if "岁" in age:
        return int(age[:-1])
    else:
        return None
data["age"] = data["age"].apply(clean_age)

In [85]:
a = data["age"].value_counts()
a.to_frame().to_csv("age.csv",encoding='utf-8')

In [86]:
b = data["education"].value_counts()
b.to_frame().to_csv("education.csv",encoding='utf-8')

In [87]:
def clean_height(height):
    if "cm" in height:
        return int(height[:-2])
    else:
        return None
data["height"] = data["height"].apply(clean_height)

In [88]:
c = data["height"].value_counts()
c.to_frame().to_csv("height.csv",encoding='utf-8')

In [89]:
d = data["marriaged"].value_counts()
d.to_frame().to_csv("marriaged.csv",encoding='utf-8')

In [4]:
d = data["house"].value_counts()
d.to_frame().to_csv("house.csv",encoding='utf-8')

In [95]:
d = data["location"].value_counts()
d.to_frame().to_csv("location3.csv",encoding='utf-8')

In [90]:
d = data["constellation"].value_counts()
d.to_frame().to_csv("constellation.csv",encoding='utf-8')

In [5]:
d = data["car"].value_counts()
d.to_frame().to_csv("car.csv",encoding='utf-8')

In [91]:
d=data["shengxiao"].value_counts()
d.to_frame().to_csv("shenxiao.csv",encoding='utf-8')

In [7]:
def clean_js_age(age):
    try:
        if "不限" not in age:
            pattern = re.compile('(\d+)-(\d+)岁',re.S)
            result = pattern.search(age)
            if result is not None:
                return (float(result.group(1)) + float(result.group(2)))/2
            else:
                pattern = re.compile('(\d+)岁',re.S)
                result = pattern.search(age)
                return float(result.group(1))
        else:
            return None
    except:
        pass

In [8]:
data["js_age"] = data["js_age"].apply(clean_js_age)

In [9]:
list1 = data['js_age'].groupby(data['age']).mean()

In [11]:
list1.to_frame()
list1.to_csv("age_js.csv",encoding="utf-8")

In [12]:
def clean_js_height(height):
    try:
        if "不限" not in height:
            pattern = re.compile('(\d+)-(\d+)厘米',re.S)
            result = pattern.search(height)
            if result is not None:
                return (float(result.group(1)) + float(result.group(2)))/2
            else:
                pattern = re.compile('(\d+)厘米',re.S)
                result = pattern.search(height)
                return float(result.group(1))
        else:
            return None
    except:
        pass

In [13]:
data["js_height"] = data["js_height"].apply(clean_js_height)

In [15]:
list2 = data['js_height'].groupby(data['height']).mean()
list2.to_csv("shengaojs.csv",encoding="utf-8")

In [249]:
data['js_height'].describe()

count    34563.000000
mean       176.520557
std          5.198413
min        130.000000
25%        174.500000
50%        177.500000
75%        178.500000
max        226.000000
Name: js_height, dtype: float64

In [16]:
data["js_marriaged"].value_counts()

不限         31088
未婚         23780
未婚、离异       2427
离异、丧偶       1169
离异           849
未婚 *         704
未婚、离异 *       94
未婚、丧偶         88
离异 *          73
丧偶            54
离异、丧偶 *       53
未婚、丧偶 *        4
丧偶 *           1
Name: js_marriaged, dtype: int64

In [17]:
def clean_js_marriaged(status):
    try:
        return status.replace(" ","").replace("\xa0*","")
    except:
        pass

In [18]:
data["js_marriaged"] = data["js_marriaged"].apply(clean_js_marriaged)

In [20]:
a = data['js_marriaged'].groupby(data['marriaged']).value_counts()

In [22]:
a

marriaged  js_marriaged
,无小孩       未婚                  1
丧偶         不限                300
           未婚                 48
           离异、丧偶              20
           丧偶                 12
           未婚、丧偶               9
           未婚、离异               3
           离异                  3
丧偶,无小孩     不限                 67
           未婚                 12
           离异、丧偶              11
           丧偶                  4
           未婚、丧偶               3
           离异                  2
丧偶,有小孩归对方  不限                 10
           未婚                  2
           离异、丧偶               2
           未婚、离异               1
丧偶,有小孩归自己  不限                426
           离异、丧偶              83
           丧偶                 16
           未婚                 14
           未婚、丧偶               8
           未婚、离异               4
           离异                  2
未填         不限                  1
           丧偶                  1
           未婚                  1
未婚         未婚              23243
           不限              19766
                           ...
未婚、离异,无小孩  离异                  1
离异         不限               3875
           未婚                723
           未婚、离异             251
           离异、丧偶             204
           离异                186
           丧偶                  7
           未婚、丧偶               2
离异,无小孩     不限               1452
           未婚、离异             375
           未婚                190
           离异                156
           离异、丧偶             118
           丧偶                  3
           未婚、丧偶               3
离异,有小孩归对方  不限               2252
           未婚、离异             300
           离异、丧偶             254
           离异                168
           未婚                 96
           未婚、丧偶               4
           丧偶                  3
离异,有小孩归自己  不限               2934
           离异、丧偶             467
           未婚、离异             385
           离异                294
           未婚                154
           丧偶                  8
           未婚、丧偶               6
离异、丧偶      不限                  1
Name: js_marriaged, Length: 66, dtype: int64

In [21]:
a.to_csv("huyinjs.csv",encoding="utf-8")

In [92]:
def check_location(row):
    try:
        if row["location"] in row["js_location"]:
            return 1
        else:
            if "不限" in row["js_location"]:
                return -1
            else:
                return 0
    except:
        pass

a = data.apply(check_location,axis=1)

In [93]:
a.value_counts()

 1    36046
 0    19085
-1     8335
dtype: int64